* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.menu {
  font-family: "Merienda", cursive;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    172deg,
    rgba(136, 18, 21, 1) 0%,
    rgba(176, 48, 51, 1) 45%
  );
}
.content {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}
.menu img {
  height: 20rem;
  width: 15rem;
  border-radius: 20%;
  margin: 2rem 4rem;
}
.header {
  color: white;
  margin: 2rem auto;
  border: 2px solid white;
  padding: 1rem 4rem;
}
.menu-header {
  text-align: left;
  margin-left: 3rem;
  color: #f7c059;
  border-bottom: 2px solid #f7c059;
}
.p-content {
  color: white;
  padding: 2rem;
  font-size: 1.2rem;
}
.price {
  padding: 1rem;
  color: #f7c059;
}
@media screen and (max-width: 960px) {
  .menu-header {
    margin-left: 1rem;
  }
  .content {
    flex-direction: column-reverse;
  }
  .menu img {
    margin: 2rem;
  }
}
